@page
@model EliminarPermisoModel
@{
    ViewData["Title"] = "Eliminar Permiso";
}

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Eliminar Permiso</h5>

            <h6 class="card-subtitle mb-2 text-muted">Esta seguro de eliminar el permiso ?</h6>

            <p class="text-danger">@Model.ErrorMessage</p>

            <p class="card-text">El permiso sera eliminado de la base de datos.</p>

            <hr />

            <div class="col-12">
                <dl class="row">
                    <dt class="col-7">
                        @Html.DisplayNameFor(model => model.Permiso.NombreEmpleado)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Permiso.NombreEmpleado)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-7">
                        @Html.DisplayNameFor(model => model.Permiso.ApellidoEmpleado)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Permiso.ApellidoEmpleado)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-7">
                        @Html.DisplayNameFor(model => model.Permiso.FechaPermiso)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Permiso.FechaPermiso)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-7">
                        @Html.DisplayNameFor(model => model.Permiso.TipoPermiso.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Permiso.TipoPermiso.Descripcion)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Permiso.Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    <a asp-page="./Index">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

